APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=lab
DB_USERNAME=lab
DB_PASSWORD=lab

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=lab
RABBITMQ_PASSWORD=lab
RABBITMQ_VHOST=/
WORKER_PREFETCH=1

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_FROM_ADDRESS=shop@lab.test
MAIL_FROM_NAME="RabbitMQ Lab"

# рычаги для "production hell"
LAB_SIMULATE_SMTP_FAILURE=false
LAB_CRASH_BEFORE_ACK=false
LAB_SLOW_CONSUMER_MS=0
